<template>
  <section class="section">
    <div class="container">
      <div class="columns">
        <div class="column is-3">
        </div>
        <div class="column is-9">
          <h2 class="title">Posts</h2>

          <table class="table is-striped is-narrow is-hoverable is-fullwidth">
            <thead>
            <tr>
              <th>id</th>
              <th>title</th>
              <th>body</th>
              <th></th>
            </tr>
            </thead>
            <tbody>
              <tr
                v-for="post in posts.data"
                :key="post.id">
                <td>{{ post.id}}</td>
                <td>{{ post.title.substring(0,20) + "..." }}</td>
                <td>{{ post.body.substring(0,60) + "..." }}</td>
                <td>
                  <ul class="d-flex list-inline m-0">
                    <router-link :to="{ path: '/showPost/'+post.id}">
                      <li class="list-inline-item mr-2">
                        <button class="btn btn-success btn-md rounded-5" type="button" data-toggle="tooltip" data-placement="top" title="View">View</button>
                      </li>
                    </router-link>
                    <li class="list-inline-item">
                      <button class="btn btn-primary btn-md rounded-5" @click="$router.push(`/createPost?edit=${post.id}`)" type="button" data-toggle="tooltip" data-placement="top" title="Edit">Edit</button>
                    </li>
                    <li class="list-inline-item">
                      <button @click="deletePost(post.id)" class="btn btn-danger btn-md rounded-5" type="button" data-toggle="tooltip" data-placement="top" title="Delete">Delete</button>
                    </li>
                  </ul>
                </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
import gql from "graphql-tag"

const ALL_POSTS_QUERY = gql`
    query {
      posts {
        data {
          id
          title
          body
        }
      }
    }`
export default {
  name: 'Posts',
  components: {
  },
  data () {
    return {
      posts: [],
    }
  },
  apollo: {
    posts: {
      query: ALL_POSTS_QUERY,
    }
  },
  methods:{
    deletePost(id){
      console.log(`Delete post: # ${id}`)
      this.$apollo.mutate({
        mutation: gql`mutation ($id: ID!) {
          deletePost(id: $id)
        }`,
        variables:{
          id: id
        },
        update: (store) => {
          const queries = [
            { query: ALL_POSTS_QUERY },
            { query: ALL_POSTS_QUERY, variables: { filter: { done: this.post } } },
          ]
          const data = queries.map(query => store.readQuery(query))
          data.forEach(({ posts: list }) => {
            const index = list.data.findIndex(o => o.id === id)
            if (index !== -1) {
              list.data.splice(index, 1)
            }
          })
          queries.forEach((query, index) => {
            store.writeQuery({
              ...query,
              data: data[index],
            })
          })
        },
      })
    },

  }
}
</script>
